.container {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  border-bottom: 1px solid lightgray;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 1536px;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar h1 {
  font-size: 30px;
  font-weight: bold;
}

@media (max-width: 1536px) {
  .navbar {
    width: 1366px;
  }
}

@media (max-width: 1366px) {
  .navbar {
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .navbar {
    width: 1024px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1024px) {
  .navbar {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .navbar {
    width: 640px;
  }
}

@media (max-width: 640px) {
  .navbar {
    width: 475px;
  }
}
@media (max-width: 475px) {
  .navbar {
    width: 380px;
  }
}
